@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
}

.stickyNav {
  display: "bl0ck"
}

.container {
  margin-left: 15px ;
  margin-right: 15px ;
}

a {
  text-decoration: none;
  color: #fff;
}

img {
  display: flex;
  width: 100%;
}

.btn {
  background-color: #f13033 !important;
  padding: 12px 25px !important;
  width: fit-content;
  outline: none;
  border: none;
  border-radius: 5px !important;
  font-weight: 600 !important;
  font-size: 1rem !important;
  color: #fff !important;
  transition: 0.3s !important;
  cursor: pointer;
}

.btn:hover {
  background-color: #c3282b !important;
}

/* header */

header.header {
  /* background-image: url(../assets/header.jpg); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* nav */
.nav {
  margin:0 auto !important;
  padding: 30px !important;
  display: flex !important;
  justify-content: space-between !important;
}

.active_nav {    
  display: none;
}
.nav__logo {
  color: #fff !important;
  font-weight: 600 !important;
  font-size: 1.2rem !important;
}

.nav__links {
  display: none;
}

.link{
  color: #e6dddd !important;
font-size: 1rem !important;
  font-weight: 500 !important;
  text-decoration: none;
}

.link:hover {
    color: #f13033 !important;
}

header .container {
  padding: 10px 0px 160px !important;
}

header h1 {
  color: #fff;
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 60px;
}

.form-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px !important;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 30px;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content !important;
}

.input-group label {
  color: #000;
  font-weight: 600 !important;
  margin-bottom: 6px;
}

.input-group input {
  outline: none;
  border: none;
}



/* trending section */

section.trending {
  background-color: #f9f9f9;

}

section .container {
  padding: 80px 0px;
}

.sec-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #0f172a;
}

.sec-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}





/* card */

.card-group {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;

}

article.trending-card {
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.trending-card:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.trending-card img {
  margin-bottom: 1rem;
  border-radius: 10px;
}

.trending-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 20px auto 30px;
}

.trending-card h1 {
  font-size: 1.5rem !important;
}

.trending-card h5 {
  margin: 15px auto;
  font-size: 1.2rem !important;
  font-weight: 400 !important;
}

.trending-card p {
  color: #64748b !important;
  font-size: 0.9rem ;
  margin: 6px auto;
}

 .trending-card svg {
   vertical-align: middle;
  }

/* Destination section */

.destination .container {
  padding: 80px 0;
}

.destination .card-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.destination-card {
  width: 48%;
  position: relative;
}

.destination-card img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background-color: #f0c8c9;
  color: #f13033;
  font-weight: 600;
  font-size: 0.9;
  padding: 2px 15px;
  border-radius: 15px;
}

.description-details {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #fff;
  padding: 1rem;
}

.description-details h4 {
  font-size: 1.2rem;
  font-weight: 600;
}



/* seller section */

.seller .card-group {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.seller-img {
  position: relative;
}

.seller-card img {
  border-radius: 10px;

}

.seller-img-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.seller-img-content:hover {
  opacity: 1;
  cursor: pointer;
}

.seller .badge {
  left: unset;
  right: 15px;
}

.seller-img-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.seller-price p {
  margin-bottom: 8px;
  color: #f9f9f9;
}

.seller-details {
  text-align: center;
  padding: 22px;
}

.seller-details h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #0f172a;
}

.seller-details p {
  color: #64748b;
  margin-top: 10px;
}


/* tour section */

.tour {
  /* background-image: url(../assets/tour.jpg); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
  padding-bottom: 0;
}

.tour .container {
  padding-bottom: 0;
}

.tour h4 {
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  font-weight: 600;
}

.video-container {
  width: 100%;
  max-width: 600px;
  height: 300px;
  overflow: hidden;
  margin-inline: auto;
  border-radius: 10px;
  border: 1px solid #fff;
  transform: translateY(2rem);
  transition: 0.3s;
}



/* guide section */

.card-group {
  display: flex;
  flex-wrap: wrap;

}

.guide-card {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}



.guide-img {
  position: relative;
}

.guide-img .guide-socials {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.guide-img:hover .guide-socials {
  opacity: 1;
}

.guide-card:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.guide-socials>div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 22px;
}

.guide-socials .btn {
  font-weight: 500;
  padding: 10px 20px;
}

.guide-content {
  padding: 22px;
  background-color: #fff;
}

.guide__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.guide__details h4 {
  font-size: 1.2rem;
  color: #0f172a;
  font-weight: 600;
}

.guide__details p {
  color: #f13033;
  font-weight: 600;
  font-size: 1rem;
}

.guide-content>p {
  color: #64748b;
}

/* clients */

.client-card {
  border-radius: 10px;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  padding: 30px 20px;
}

.client-card:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}

.client-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.client-header>span {
  font-size: 1.5rem;
  color: #f13033;
}

.client-header>span+span {
  font-size: 1.2rem;
  color: goldenrod;
}

.client-footer {
  display: flex;

}

.client-card p {
  color: #64748b;
  font-size: 1rem;
}

.client-footer {
  margin-top: 22px;
  align-items: center;
}

.client-footer h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #0f172a;
}

.client-footer img {
  max-width: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

/* subscribe */

.subscribe {
  /* background-image: url(../assets/subscribe.jpg); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe h1 {
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}

.subscribe form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  flex-direction: row;
}

.subscribe form input {
  width: 77%;
  padding-left: 1rem;
  border: none;
  outline: none;
}

.subscribe input::placeholder {
  font-size: 1rem;
}


/* footer */

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 4rem 20px;
  font-size: 1.2rem;

}

footer .container>div,
footer .container>article {
  width: 48%;
}

footer h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #0f172a;
}

footer p {
  color: #64748b;
}

footer article ul {
  list-style: none;
  padding-left: 0 !important;
}

footer article li {
  margin-top: 1rem;
}

footer article li a {
  color: #64748b;
  text-decoration: none;
}

footer article li a:hover {
  color: #f13033;
}

footer .container div:last-child>div {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

footer .container div:last-child {
  order: 2;
}

footer .icons span {
  background-color: #f13033;
  border-radius: 50%;
  padding: 8px 14px;
  margin: 0;
  text-align: center;
}

footer .icons span:first-of-type {
  padding: 8px 12.8px;
}

footer .icons span:last-of-type {
  padding: 8px 16.4px;
}

footer i {
  color: #fff;
  font-size: 1.2rem;
}

footer .container article:nth-last-child(2) {
  order: 3;
}

footer .container>div:first-child>p {
  padding-right: 5px;
  margin-top: 1rem;
}


.footer-bar {
  color: #64748b;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
}

/*  Medium devices : tablets */

@media (min-width:600px) {

  .container {

    margin-left: 15px;
    margin-right: 15px;
  }

  /* header */

  .nav__links {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style: none;

  }

  .link a {
    font-size: 1rem;
    font-weight: 500;
  }

  .link a:hover {
    color: #f13033;
  }

  form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* trending section */

  .card-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

  }

  .trending-card {
    width: 48%;
  }

  article.destination-card {
    width: 30%;
    /* height: 100%; */
    align-self: stretch;
  }

  .destination-card img:nth-of-type(2) {
    height: 100%;
    object-fit: cover;
  }


  /* seller */

  .seller-card {
    width: 48%;
  }


  /* guide */
  .guide-card {
    width: 48%;
  }

  .client-card {
    width: 48%;
  }

  .subscribe form input {
    width: 66%;
    margin-left: 1rem;
  }

}


/* Large devices: desktops */
@media (min-width: 960px) {
  .container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }

  /* trending section */
  .trending-card {
    width: 31%;
  }

  .destination .card-group {
    align-items: start;
    gap: 20px;
  }


  .destination-card img {
    width: 100%;
    height: 100%;
  }

  /* seller */

  .seller-card {
    width: 31%;
  }

  .seller-img-footer .btn {
    font-weight: 600;
    padding: 0px 15px;
  }

  .guide-card {
    width: 31%;
  }

  .client-card {
    width: 31%;
  }

  footer .container>div,
  footer .container>article {
    width: 23%;
  }

  footer .container article:nth-last-child(2) {
    order: 1;
  }

}

@media (min-width:1400px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .header h1 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
  }

  form {
    flex-wrap: nowrap;
  }

  footer .container {
    flex-wrap: nowrap;
    gap: 30px;
  }

  footer .container>div:first-child {
    flex-grow: 2;
    margin-right: 4rem;
  }

  footer .container>article {
    width: 18%;
  }

  footer .container>div:last-child {
    margin-left: 2rem;
    text-align: center;
  }

  footer .container>div:last-child>div {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

}